@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(imagenes/almendro.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 150vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.menu .navbar ul li a:hover {
    transform: scale(0.9, 0.9);
    transition: 0.5s;
    color: #2600ffb2;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 50px;
    line-height: 80px;
    color: #F9FAFC;
    margin-bottom: 35px;
    transition: 1s;
}

.header-content h1:hover {
    cursor: pointer;
    transform: scale(0.9, 0.9);
    transition: 1s;
}

.header-content p {
    font-size: 20px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #0816e4b2;
    color: #F9FAFC;
    text-transform: uppercase;
    border-radius: 20px;
}

.btn-1:hover {
    background-color: #4954ebb2;
}

.linea {
    background: rgb(0, 0, 0);
    height: 5px;
    width: 100%;
    display: block;
}

.pinturas {
    display: flex;
}

.pinturas-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.pinturas-2 {
    background-image: url(imagenes/La_noche_estrellada__de_Van_gogh.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    transition: 1s;
}

.pinturas-2:hover {
    cursor: pointer;
    filter: blur(2px);
    transition: 1s;
}

.pinturas-3 {
    background-image: url(imagenes/vangogh.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    transition: 1s;
}

.pinturas-3:hover {
    cursor: pointer;
    filter: blur(2px);
    transition: 1s;
}

.pinturas-4 {
    background-image: url(imagenes/girasoles.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    transition: 1s;
}

.pinturas-4:hover {
    cursor: pointer;
    filter: blur(2px);
    transition: 1s;
}

.pinturas-5 {
    background-image: url(imagenes/cuarto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    transition: 1s;
}

.pinturas-5:hover {
    cursor: pointer;
    filter: blur(2px);
    transition: 1s;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: black;
    margin: 25px 0 45px 0;
}

.footer {
    padding: 20px 0;
    background-color: darkblue;
    display: flex;
    justify-content: center;
}

.footer p {
    text-align: center;
    font-size: 12px;
    color: white;
    margin-bottom: 15px;
    transition: 1s;
}

.footer p:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}

@media (max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
        filter: hue-rotate(120deg);
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #414247;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .pinturas {
        flex-direction: row-reverse;
    }

    .pinturas-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .pinturas h2 {
        font-size: 20px;
    }

    .footer {
        padding: 30px;
    }

    .footer p {
        flex-direction: column;
        text-align: center;
        transition: 1s;
    }

    .footer p:hover {
        transform: scale(0.9, 0.9);
        transition: 1s;
    }

}